.main{
min-height: 100vh;
position: relative;
flex: 1;
}
.main .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: white;
}
.nav .nav-title{
    font-size: 20px;
    font-weight: 350;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.nav-title:focus{
    border: none;
}
.dropdown-menu{
    font-size: 12px !important;
    padding: 10px 10px 10px 0px;

}
.dropdown-menu li{
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.dropdown-item{
background-color: none;
}
.dropdown-item:hover{
    background-color: none !important;
}
.nav-img-with-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-img-with-btn button{
    padding: 10px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px 6px!important;
}
.main .nav img{
width: 45px;
height: 45px;
object-fit: cover;
border-radius: 50%; 
    
}
.main-container{
    max-width: 900px;
    margin: auto;      
}
.main-container .greet{
  margin: 20px 20px;
    font-size: 3.5rem;
    font-weight: 500;
    color: #C4C7C5;
    

}

.main-container .greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cards-main{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
  margin-bottom: 124px;
  

}
.card-single{
    
    height: 200px;

    background-color: #F0F4F9;
    border-radius: 20px;


    
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
position: relative;
}
.card-single:hover{
    background-color: rgb(230, 234, 241);;
}
.logo-card{
    display: flex;
    justify-content: flex-end;
}
.logo-card-wrapper{
    border-radius: 20px;
    background-color: white;
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}


.main-bottom{
    max-width: 900px;
    margin: auto;
    position: absolute;
    bottom: 0;
   width: 100%;
   padding: 0px 20px;
}
.input-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #F0F4F9;
    padding: 10px 20px;
    border-radius: 50px;

}
.input-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.input-box img{
    width: 25px;
}
.main-container .bottom-info{
    font-size: 13px;
    font-weight: 400;
    margin: 1px auto;
    text-align: center;
    color: #444746;
    cursor: default;
}
.bottom-info .bottom-P-onlarge {
    margin: 0;
}
.bottom-P-onsmall{
    display: none;
}
.bottom-info span{
    border-bottom: 1px solid black;
    cursor: pointer;
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar {
    width: 9px; /* Scrollbar width */
  }
  
  /* Track */
  .recent-cont::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  /* Handle */
  .result::-webkit-scrollbar-thumb {
    background: #c9c8c8; /* Handle color */
    border-radius: 6px; /* Handle border radius */
  }

.result-title{
    align-items: center;
    gap: 20px;
    margin: 40px 0px;
    display: flex;
    color: #1F1F1F;
    font-weight: 500;
}

.result-title img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;   
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}
.result-data-logo2{
    width: 35px;
    height: 35px;
}
.result-data-logo{
    width: 35px;
    height: 35px;
    animation: app-logo-spin infinite 5s linear;
    pointer-events: none;
}
.result-data p{
    color: #1F1F1F;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
}
 @keyframes app-logo-spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
 } 
.loader{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #ffffff, #4b90ff, #ff5546);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

@media(max-width: 600px){
.input-box input{
    flex: none;
    width: 150px;
}
.input-box img{
    width: 20px;
}
.bottom-P-onlarge{
    display: none;
}
.bottom-P-onsmall{
    display: block;
}
.nav-img-with-btn button{ display: none;}
}
@media(min-width: 600px){
    .recent-title{
        margin: 14px 150px 14px 14px;
    }
    .cards-main{
        justify-items: center;
    }
}