.sidebar{
    min-height: 100vh;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
}

.sidebar-top img{
width: 23px;
}
.sidebar-chat{
  font-size: 14px;
  margin-left: 3px;
  border-radius: 25px;
  background-color: #e6eaf1;
  color: grey;
  padding: 10px 15px;
gap: 10px;
display:inline-flex;
align-items: center;
margin-top: 30px;

cursor: pointer;
}
.sidebar-chat p{
  margin: 0;
}
.recent-title{
margin: 14px;
cursor: default;
}
.recentEntry{
  font-size: 14px;
  display: flex ;
  gap: 10px;
  align-items: center;
  margin-top: 8px;
  padding: 13px 15px;
  border-radius: 28px;
}
.recentEntry p{
  margin: 0;
}
.sidebar-chat img{
  width: 16px;
}
.menu-icon{
 
    width: 50px;
  margin: 9px;
  cursor: pointer;
  display: flex;
  padding: 13px 12px;
  
}

.menu-icon:hover{
  background-color:#e6eaf1;
  border-radius: 45px;
}
.sidebar-bottom {
  margin: 9px;
}
.sidebar-bottom img{
    width: 20px;
}



.recentEntry:hover{
background-color: #e2e6eb;
border-radius: 25px;
cursor: pointer;



}
.sidebar-recent{
  margin-top: 19px;
  animation: fadeIn 1.5s;
}

.recent-entries{
  margin-top: 2px;
}
.recent-cont{
  overflow-y: scroll;
  height: 191px;
}
.recent-cont::-webkit-scrollbar {
  width: 9px; /* Scrollbar width */
}

/* Track */
.recent-cont::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

/* Handle */
.recent-cont::-webkit-scrollbar-thumb {
  background: #c9c8c8; /* Handle color */
  border-radius: 6px; /* Handle border radius */
}
@media (max-width: 600px){
  .sidebar{
    display: none;
  }
}